
<ul>
 <table id="domainlist">
 
  <% for(var i in tabs){ %>
    <tr>
     <td>  
        <img style="width:15px; height:15px;" src="<%= tabs[i].favicon %>" / >
        <a href="#" style="font-size:<%= tabs[i].font %>;" > <%= tabs[i].domain %></a>  </br> 
          <div class="sites" id="<%= tabs[i].domain %>" style="display:inline; position:relative; left:100px;">      
            <% for(var o in tabs[i].sites){ %>
              <a href="<%= tabs[i].sites[o].url %>" style="" > <%= tabs[i].sites[o].title %></a></br>
            <% } %>
          </div>
     </td>
    </tr>
  <% } %>
    
 </table>
 </ul>
